p{
    background-color: aqua;
}
a
{
    background-color: chocolate;
}
#aword
{
    background-color: salmon ;
}
#aspan
{
    background-color: burlywood;
}
#bele
{
    background-color: chartreuse;
}